 :root {
     --main-color: #19c8fa;
     --transparent-color: rgb(15 116 143 / 70%);
     --p-color: #777;
     --section-padding: 100px;
 }

 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
     background-color: red;
 }

 ul {
     list-style: none;
 }

 .container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 @media (min-width:768px) {
     .container {
         width: 750px;
     }
 }

 @media (min-width:992px) {
     .container {
         width: 970px;
     }
 }

 @media (min-width:1200px) {
     .container {
         width: 1170px
     }
 }

 body {
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
     background-color: #eeeeee;
 }